html,body{
margin:0;
padding:0;
width:100%;
height:100%;
overflow:hidden;
font-family:Arial, sans-serif;
}


body{
color:white;
}


.background{

position:fixed;
inset:0;

background:
linear-gradient(
to bottom,
#65d5ff,
#0077b6,
#003b55
);

z-index:-1;

}


/* animated water */

.wave{

position:absolute;

bottom:-80px;

left:-25%;

width:150%;

height:220px;

background:
rgba(255,255,255,.25);

border-radius:50%;

animation:
moveWave 12s linear infinite;

}


.wave.second{

bottom:-120px;

opacity:.35;

animation-duration:20s;

}


@keyframes moveWave{

from{
transform:translateX(0);
}

to{
transform:translateX(-30%);
}

}


/* news area */

.container{

height:100%;

box-sizing:border-box;

padding:25px;

overflow:auto;

background:
rgba(0,0,0,.18);

}


h1,h2{

text-align:center;

}


.card{

background:white;

color:#003b55;

padding:15px;

margin:15px 0;

border-radius:12px;

box-shadow:
0 4px 12px rgba(0,0,0,.3);

}


button{

display:block;

margin:25px auto;

padding:12px 25px;

border:none;

border-radius:8px;

background:#00a8e8;

color:white;

font-size:16px;

cursor:pointer;

}